// @use "../../../styles/fonts.css";
@use "sass:map";
@import "../../../styles/fonts.css";


// ----------------------------------------
// TYPOGRAPHY SIZES & SPACING
// ----------------------------------------

// H2 Specifics
$font-size-h2-min: 2rem;
$font-size-h2-fluid: 5vw;
$font-size-h2-max: 2.75rem;
$line-height-h2: 1.2;

// Spacing Units
$spacing-md: 16px;

// ----------------------------------------
// COLORS
// ----------------------------------------

// Primary colors
$primary-black: #000;
$primary-white: #fff;
$primary-blue: #2e2a94;
$primary-blue-dark: #2b2e8c;
$primary-blue-1-900: #242177;


// Brand buttons
$button-primary: (
  default: #2e2a94,
  hover: #2b2e8c,
  active: #262a84,
  disabled: #969696,
);
$button-secondary: (
  default: #fff,
  hover: #f3f3f3,
  active: #e6e6e6,
  disabled: #b0b0b0,
  text: #2e2a94,
);

// Neutral colors blue-1-25
$blue-1: (
  b25: #EDF1FF,
  b50: #D5DEFF,
  b200: #9DADFE,
  b300: #7986fd,
  b400: #5659FA,
  b900: #242177,
  b500: #4338f3,
  b700: #332ab5,
  b150:#D5DEFF
);

// body-Color

$color-text-body: #424242;

// Old Silver
$old-silver: (
  00: #efefef,
  50: #f3f3f3,
  75: #ccc,
  100: #b7b7b7,
  200: #989898,
  300: #838383,
  400: #5c5c5c,
  500: #505050,
  600: #545454,
  700: #404040,
);

// Olive Drab
$olive-drab: (
  50: #ededec,
  75: #b6b3b1,
  100: #989490,
  200: #6c6560,
  300: #4e4640,
  400: #37312d,
  500: #302b27,
);

// Dark Liver
$dark-liver: (
  50: #edeeed,
  75: #b6b8b6,
  100: #979a98,
  200: #6a6f6b,
  300: #4c514d,
  400: #353936,
  500: #2e312f,
);

// strokes
$strokes: (
  default:#9E9E9E,
  typing: #1887D2,
  disabled: #BDBDBD,
);


// Success
$success: (
  50: #e9fdec,
  75: #a4f8b2,
  100: #7ef591,
  200: #46f062,
  300: #20ed42,
  400: #16a62e,
  500: #149128,
);

// Alarm
$alarm: (
  50: #fdf6e9,
  75: #f8dca4,
  100: #f5cd7e,
  200: #f0b846,
  300: #eda920,
  400: #a67616,
  500: #916714,
);

// Danger
$danger: (
  50: #fde9e9,
  75: #f8a4a4,
  100: #f57e7e,
  200: #f04646,
  300: #ed2020,
  400: #a61616,
  500: #911414,
  600: #EE212E,
);

// ----------------------------------------
// MISC COLORS
// ----------------------------------------

$blue-100: #4e78e6;
$dark-500: #7b7b7b;
$light-600: #9d9d9d;
$text-header: #382ad7;
$neutrals-50: #FAFAFA;
$neutrals-400: #bdbdbd;
$neutrals-300: #E0E0E0;
$neutrals-200: #EEE;
$neutrals-600: #757575;
$text-body-2: #616161;
$neutrals-black: #111;
$neutrals-500: #99A1B0;
$neutrals-100: #F5F5F5;
$fund-icon-bg: #BDCBFF;
$sub-header: #212121;

// ----------------------------------------
// FONTS
// ----------------------------------------
$poppins: "Poppins", sans-serif;
$butlerpro: "ButlerPro", sans-serif;
$inter: "Inter", sans-serif;
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  heavy: 900
);

// Font mixin
@mixin font-style($size, $line-height, $color, $weight: null, $family: $body) {
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-family: $family;
  font-feature-settings: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'cv10' on, 'cv11' on;

  @if $weight != 'null' {
    font-weight: $weight;
  }
}


// ----------------------------------------
// COMPONENT MIXINS
// ----------------------------------------

@mixin typography-h2 {
  font-family: $butlerpro;
  color: $primary-blue;
  font-weight: map.get($font-weights, bold);
  line-height: $line-height-h2;
  font-size: clamp($font-size-h2-min, $font-size-h2-fluid, $font-size-h2-max);
}

// ----------------------------------------
// BORDER RADIUS
// ----------------------------------------

$radius: (
  r4: 4px,
  r8: 8px,
  r12: 12px,
  r14: 14px,
  r16: 16px,
  r24: 24px,
  r26: 26px,
  r32: 32px,
  r37: 37px,
  r40: 40px,
  r41: 41px,
  r52: 52px,
  r83: 83px,
  r100: 100px,
  r50: 50%
);

// ----------------------------------------
// SPACING
// ----------------------------------------

$spacing: (
  xxs: 4px,
  xs: 8px,
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 32px,
  xxl: 40px,
);

// ----------------------------------------
// SHADOWS
// ----------------------------------------
// $box-shadow-soft: 0 8px 24px rgba(map.get($primary-black, 1), 0.08);
$box-shadow-soft: 0 8px 24px rgba($primary-black, 0.08);

// ----------------------------------------
// BREAKPOINTS
// ----------------------------------------

$breakpoints: (
  mobile-sm: 361px,
  mobile-md: 391px,
  mobile: 768px,
  tab: 1025px,
  desktop-sm: 1299px,
  desktop-md: 1367px,
  desktop-lg: 1681px,
  desktop-xl: 1921px
);


// // Media query mixin using map.get

@mixin media($breakpoint) {
  $bp: map.get($breakpoints, $breakpoint);

  @media (max-width: #{$bp}) {
    @content;
  }
}

// ----------------------------------------
// FLEXBOX UTILITIES
// ----------------------------------------

@mixin flex-center($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

// ----------------------------------------
// TRANSITIONS & HOVER EFFECTS
// ----------------------------------------

@mixin transitiontransform {
  transition: transform 0.5s ease;
}

@mixin hoveraftereffect($translateX: 5px) {
  &:hover::after {
    transform: translateX($translateX);
  }
}

@mixin hoverbeforeeffect($translateX: 5px) {
  &:hover::before {
    transform: translateX($translateX);
  }
}

@mixin hoverimageeffect($translateX: 5px) {
  &:hover img {
    transform: translateX($translateX);
  }
}

// Secondary Button Effects
@mixin hover-secondarybtn($color: #000) {
  &:hover {
    backdrop-filter: blur(22px);
    background-color: $color;
    color: #fff;
  }
}

@mixin hover-secondarybtnwhite() {
  &:hover {
    backdrop-filter: blur(22px);
    background-color: #fff;
    color: #000;
  }
}


// Typeface start

$title: "Inter", sans-serif;
$body: "Inter", sans-serif;
$weight-regular: "Regular";
$weight-semibold: "Semibold";
$weight-medium: "Medium";
$weight-bold: "Bold";

// Typeface end

// spacing start

$spacing-none: 0px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-72: 72px;
$border-radius-none: 0px;
$border-radius-4: 4px;
$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-16: 16px;
$border-radius-24: 24px;
$border-radius-circle: 1000px;
$border-width-none: 0px;
$border-width-01: 1px;
$border-width-02: 2px;
$spacing-48: 48px;
$spacing-36: 36px;
$spacing-44: 44px;
$spacing-56: 56px;
$spacing-28: 28px;
$spacing-20: 20px;
$spacing-14: 14px;
$spacing-60: 60px;
$spacing-64: 64px;
$spacing-68: 68px;
$spacing-76: 76px;
$spacing-80: 80px;

// spacing end

// colors start

$neutrals-black: #111;
$neutrals-900: #212121;
$green-900: #004c15;
$yellow-900: #f57f16;
$red-900: #a00000;
$green-800: #006029;
$green-700: #09743d;
$blue-1-900: #242177;
$blue-2-900: #072b4a;
$red-800: #b40000;
$blue-1-800-primary: #2e2a94;
$blue-1-700: #332ab5;
$blue-1-600: #382ad7;
$blue-1-500: #4338f3;
$blue-1-400: #5659fa;
$blue-1-300: #7986fd;
$blue-1-200: #9dadfe;
$blue-1-100: #bdcbff;
$blue-1-50: #d5deff;
$blue-1-25: #edf1ff;
$blue-2-800: #073d67;
$blue-2-700: #064d84;
$blue-2-600: #045d9e;
$blue-2-500-primary: #006eb9;
$blue-2-400: #1887d2;
$blue-2-300: #33a3ee;
$blue-2-200: #61c0ff;
$blue-2-100: #96d5ff;
$blue-2-50: #c2e7ff;
$blue-2-25: #e1f3ff;
$yellow-800: #f79014;
$yellow-700: #f9a212;
$yellow-600-main-1: #faad19;
$yellow-500: #fcbd0d;
$yellow-400-main-2: #ffcf00;
$yellow-300: #ffde0f;
$yellow-200: #ffee41;
$yellow-100: #fffa86;
$yellow-50: #fffec0;
$yellow-25: #fffee7;
$orange-900: #cc3f02;
$orange-800: #d85002;
$red-700: #c8000a;
$red-600: #dc111e;
$red-500-primary: #ee212e;
$red-400: #ff3542;
$red-300: #ff5360;
$red-200: #ff8592;
$red-100: #ffa3b0;
$red-50: #ffc1ce;
$red-25: #ffdfec;
$orange-700: #e36201;
$orange-600: #f07a07;
$orange-500-primary: #fb8c00;
$orange-400: #ff9800;
$orange-300: #ffa726;
$orange-200: #ffb74d;
$orange-100: #ffcc80;
$orange-50: #ffe0b2;
$orange-25: #fff3e0;
$green-600: #068c46;
$green-500-primary: #00a850;
$green-400: #07cc64;
$green-300: #22e17c;
$green-200: #47f297;
$green-100: #7cfbb8;
$green-50: #acffd3;
$green-25: #d4ffe8;
$neutrals-800: #424242;
$neutrals-700: #616161;
$neutrals-600: #757575;
$neutrals-500: #9e9e9e;
$neutrals-400: #bdbdbd;
$neutrals-300: #e0e0e0;
$neutrals-200: #eee;
$neutrals-100: #f5f5f5;
$neutrals-50: #fafafa;
$neutrals-white: #fff;

// colors end


// semantic-lights start

$text-header: $blue-1-600;
$text-sub-header: $neutrals-900;
$surface-background: $neutrals-white;
$strokes-information: $blue-2-500-primary;
$text-button-default: $blue-1-800-primary;
$text-body: $neutrals-800;
$icon-primary: $blue-1-800-primary;
$icon-secondary: $blue-1-100;
$icon-black: $neutrals-black;
$surface-mid-ground: $neutrals-200;
$button-primary-default: $blue-1-800-primary;
$text-button-hover: $blue-1-600;
$text-button-pressed: $blue-1-900;
$icon-white: $neutrals-white;
$icon-disabled: $neutrals-500;
$text-information: $blue-2-500-primary;
$text-success: $green-500-primary;
$text-warning: $yellow-600-main-1;
$text-error: $red-500-primary;
$surface-primary: $blue-1-600;
$surface-success: $green-50;
$text-white: $neutrals-white;
$text-black: $neutrals-black;
$surface-warning: $orange-50;
$surface-error: $red-50;
$surface-disabled: $neutrals-50;
$surface-action: $blue-1-400;
$surface-action-hover: $blue-1-700;
$surface-action-hover-2: $blue-1-100;
$strokes-success: $green-500-primary;
$strokes-warning: $orange-500-primary;
$strokes-error: $red-500-primary;
$button-primary-hover: $blue-1-600;
$button-primary-pressed: $blue-1-900;
$button-primary-focus: $blue-1-700;
$button-primary-disable: $neutrals-300;
$strokes-default: $neutrals-500;
$strokes-disabled: $neutrals-400;
$surface-selected: $blue-1-25;
$strokes-selected: $blue-1-600;
$text-body-2: $neutrals-700;
$icon-information: $blue-2-500-primary;
$icon-error: $red-500-primary;
$icon-warning: $orange-500-primary;
$icon-success: $green-500-primary;
$surface-infomation: $blue-2-50;
$strokes-typing: $blue-2-400;
$text-default-input: $neutrals-700;
$icon-default: $neutrals-900;
$text-text-link: $blue-1-800-primary;
$text-disclaimer: $neutrals-700;
$text-typed-input: $neutrals-black;
$text-button-focus: $blue-1-700;
$text-button-disabled: $neutrals-500;
$card-stroke: #B9BBFF;
$surface-icon-primary-normal: $blue-1-800-primary;

//  semantic-lights end

//  typescale-desktop start

$typography-desktop: (
  body-xlarge-bold-font: $body,
  body-xlarge-bold-weight: $weight-semibold,
  body-xlarge-bold-size: $spacing-20,
  body-xlarge-bold-line-height: $spacing-24,
  label-large-font: $body,
  label-large-weight: $weight-regular,
  label-large-size: $spacing-16,
  label-large-line-height: $spacing-20,
  heading-h1-font: $title,
  heading-h1-weight: $weight-bold,
  heading-h1-size: $spacing-48,
  heading-h1-line-height: $spacing-56,
  heading-h2-font: $title,
  heading-h2-weight: $weight-bold,
  heading-h2-size: $spacing-40,
  heading-h2-line-height: $spacing-48,
  heading-h3-font: $title,
  heading-h3-weight: $weight-bold,
  heading-h3-size: $spacing-36,
  heading-h3-line-height: $spacing-44,
  heading-h4-font: $title,
  heading-h4-weight: $weight-bold,
  heading-h4-size: $spacing-32,
  heading-h4-line-height: $spacing-40,
  heading-h5-font: $title,
  heading-h5-weight: $weight-bold,
  heading-h5-size: $spacing-28,
  heading-h5-line-height: $spacing-32,
  sub-header-large-font: $body,
  sub-header-large-weight: $weight-medium,
  sub-header-large-size: $spacing-24,
  sub-header-large-line-height: $spacing-32,
  sub-header-medium-font: $body,
  sub-header-medium-weight: $weight-medium,
  sub-header-medium-size: $spacing-20,
  sub-header-medium-line-height: $spacing-28,
  body-xlarge-semibold-font: $body,
  body-xlarge-semibold-weight: $weight-medium,
  body-xlarge-semibold-size: $spacing-20,
  body-xlarge-semibold-line-height: $spacing-24,
  body-xlarge-regular-font: $body,
  body-xlarge-regular-weight: $weight-regular,
  body-xlarge-regular-size: $spacing-20,
  body-xlarge-regular-line-height: $spacing-24,
  body-large-semibold-font: $body,
  body-large-semibold-weight: $weight-semibold,
  body-large-semibold-size: 18px,
  body-large-semibold-line-height: $spacing-24,
  body-large-medium-font: $body,
  body-large-medium-weight: $weight-medium,
  body-large-medium-size: 18px,
  body-large-medium-line-height: $spacing-24,
  body-large-regular-font: $body,
  body-large-regular-weight: $weight-regular,
  body-large-regular-size: 18px,
  body-large-regular-line-height: $spacing-24,
  body-medium-semibold-font: $body,
  body-medium-semibold-weight: $weight-semibold,
  body-medium-semibold-size: $spacing-16,
  body-medium-semibold-line-height: $spacing-20,
  body-medium-medium-font: $body,
  body-medium-medium-weight: $weight-medium,
  body-medium-medium-size: $spacing-16,
  body-medium-medium-line-height: $spacing-20,
  body-medium-regular-font: $body,
  body-medium-regular-weight: $weight-regular,
  body-medium-regular-size: $spacing-16,
  body-medium-regular-line-height: $spacing-20,
  // body-medium-regular-line-height: $spacing-24,
  body-small-semibold-font: $body,
  body-small-semibold-weight: $weight-semibold,
  body-small-semibold-size: 14px,
  body-small-semibold-line-height: $spacing-16,
  body-small-medium-font: $body,
  body-small-medium-weight: $weight-medium,
  body-small-medium-size: 14px,
  body-small-medium-line-height: $spacing-16,
  body-small-regular-font: $body,
  body-small-regular-weight: $weight-regular,
  body-small-regular-size: 14px,
  body-small-regular-line-height: $spacing-16,
  button-large-font: $body,
  button-large-weight: $weight-semibold,
  button-large-line-height: $spacing-20,
  button-medium-font: $body,
  button-medium-weight: $weight-semibold,
  button-medium-size: $spacing-16,
  button-medium-line-height: $spacing-20,
  button-small-font: $body,
  button-small-weight: $weight-semibold,
  button-small-size: $spacing-14,
  button-small-line-height: $spacing-16,
  label-medium-font: $body,
  label-medium-weight: $weight-regular,
  label-medium-line-height: $spacing-16,
  label-small-font: $body,
  label-small-weight: $weight-regular,
  label-small-size: $spacing-12,
  label-small-line-height: $spacing-16,
  paragraph-xlarge-font: $body,
  paragraph-xlarge-weight: $weight-regular,
  paragraph-xlarge-size: $spacing-20,
  paragraph-xlarge-line-height: $spacing-32,
  paragraph-large-font: $body,
  paragraph-large-weight: $weight-regular,
  paragraph-large-line-height: $spacing-28,
  paragraph-medium-font: $body,
  paragraph-medium-weight: $weight-regular,
  paragraph-medium-size: $spacing-16,
  paragraph-medium-line-height: $spacing-24,
  paragraph-small-font: $body,
  paragraph-small-weight: $weight-regular,
  paragraph-small-size: $spacing-14,
  paragraph-small-line-height: $spacing-20,
  paragraph-xsmall-font: $body,
  paragraph-xsmall-weight: $weight-regular,
  paragraph-xsmall-size: $spacing-12,
  paragraph-xsmall-line-height: $spacing-16,
  text-link-xlarge-font: $body,
  text-link-xlarge-weight: $weight-regular,
  text-link-xlarge-size: $spacing-20,
  text-link-xlarge-line-height: $spacing-32,
  text-link-large-font: $body,
  text-link-large-weight: $weight-regular,
  text-link-large-line-height: $spacing-28,
  text-link-medium-font: $body,
  text-link-medium-weight: $weight-regular,
  text-link-medium-size: $spacing-16,
  text-link-medium-line-height: $spacing-24,
  text-link-small-font: $body,
  text-link-small-weight: $weight-regular,
  text-link-small-size: $spacing-16,
  text-link-small-line-height: $spacing-20,
  text-link-xsmall-font: $body,
  text-link-xsmall-weight: $weight-regular,
  text-link-xsmall-size: $spacing-12,
  text-link-xsmall-line-height: $spacing-16,
  disclaimer-xsmall-font: $body,
  disclaimer-xsmall-weight: $weight-regular,
  disclaimer-xsmall-size: $spacing-12,
  disclaimer-xsmall-line-height: $spacing-16,
  body-xsmall-semibold-font: $body,
  body-xsmall-semibold-weight: $weight-semibold,
  body-xsmall-semibold-size: $spacing-12,
  body-xsmall-semibold-line-height: 14px,
  body-xsmall-medium-font: $body,
  body-xsmall-medium-weight: $weight-medium,
  body-xsmall-medium-size: $spacing-12,
  body-xsmall-medium-line-height: 14px,
  body-xsmall-regular-font: $body,
  body-xsmall-regular-weight: $weight-regular,
  body-xsmall-regular-size: $spacing-12,
  body-xsmall-regular-line-height: 14px
);

// typescale-desktop end

// typescale-mobile start
$typography-mobile: (
  body-xlarge-bold-font: $body,
  body-xlarge-bold-weight: $weight-semibold,
  body-xlarge-bold-size: $spacing-20,
  body-xlarge-bold-line-height: $spacing-24,
  label-large-font: $body,
  label-large-weight: $weight-regular,
  label-large-size: $spacing-16,
  label-large-line-height: $spacing-20,
  heading-h1-font: $title,
  heading-h1-weight: $weight-bold,
  heading-h1-size: $spacing-36,
  heading-h1-line-height: $spacing-44,
  heading-h2-font: $title,
  heading-h2-weight: $weight-bold,
  heading-h2-line-height: $spacing-40,
  heading-h3-font: $title,
  heading-h3-weight: $weight-bold,
  heading-h3-size: $spacing-32,
  heading-h3-line-height: $spacing-40,
  heading-h4-font: $title,
  heading-h4-weight: $weight-bold,
  heading-h4-size: $spacing-28,
  heading-h4-line-height: $spacing-36,
  heading-h5-font: $title,
  heading-h5-weight: $weight-bold,
  heading-h5-size: $spacing-24,
  heading-h5-line-height: $spacing-28,
  sub-header-large-size: $spacing-24,
  sub-header-large-font: $body,
  sub-header-large-weight: $weight-medium,
  // sub-header-large-size: $spacing-24,
  sub-header-large-line-height: $spacing-32,
  sub-header-medium-font: $body,
  sub-header-medium-weight: $weight-medium,
  sub-header-medium-size: 18px,
  sub-header-medium-line-height: $spacing-24,
  // sub-header-medium-line-height: $spacing-28,
  body-xlarge-semibold-font: $body,
  body-xlarge-semibold-weight: $weight-medium,
  body-xlarge-semibold-size: $spacing-20,
  body-xlarge-semibold-line-height: $spacing-24,
  body-xlarge-regular-font: $body,
  body-xlarge-regular-weight: $weight-regular,
  body-xlarge-regular-size: $spacing-20,
  body-xlarge-regular-line-height: $spacing-24,
  body-large-semibold-font: $body,
  body-large-semibold-weight: $weight-semibold,
  body-large-semibold-size: 18px,
  body-large-semibold-line-height: $spacing-24,
  body-large-medium-font: $body,
  body-large-medium-weight: $weight-medium,
  body-large-medium-size: 18px,
  body-large-medium-line-height: $spacing-24,
  body-large-regular-font: $body,
  body-large-regular-weight: $weight-regular,
  body-large-regular-size: 18px,
  body-large-regular-line-height: $spacing-24,
  body-medium-semibold-font: $body,
  body-medium-semibold-weight: $weight-semibold,
  body-medium-semibold-size: $spacing-16,
  body-medium-semibold-line-height: $spacing-20,
  body-medium-medium-font: $body,
  body-medium-medium-weight: $weight-medium,
  body-medium-medium-size: $spacing-16,
  body-medium-medium-line-height: $spacing-20,
  body-medium-regular-font: $body,
  body-medium-regular-weight: $weight-regular,
  body-medium-regular-size: $spacing-16,
  body-medium-regular-line-height: $spacing-20,
  body-small-semibold-font: $body,
  body-small-semibold-weight: $weight-semibold,
  body-small-semibold-size: 14px,
  body-small-semibold-line-height: $spacing-16,
  body-small-medium-font: $body,
  body-small-medium-weight: $weight-medium,
  body-small-medium-size: 14px,
  body-small-medium-line-height: $spacing-16,
  body-small-regular-font: $body,
  body-small-regular-weight: $weight-regular,
  body-small-regular-size: 14px,
  body-small-regular-line-height: $spacing-16,
  button-large-font: $body,
  button-large-weight: $weight-semibold,
  button-large-size: $spacing-16,
  button-medium-size: $spacing-16,
  button-medium-line-height: $spacing-20,
  button-large-line-height: $spacing-24,
  button-medium-font: $body,
  button-medium-weight: $weight-semibold,
  button-small-font: $body,
  button-small-weight: $weight-semibold,
  button-small-size: $spacing-12,
  button-small-line-height: $spacing-20,
  label-medium-font: $body,
  label-medium-weight: $weight-regular,
  label-medium-line-height: $spacing-16,
  label-small-font: $body,
  label-small-weight: $weight-regular,
  label-small-size: $spacing-12,
  label-small-line-height: $spacing-16,
  paragraph-xlarge-font: $body,
  paragraph-xlarge-weight: $weight-regular,
  paragraph-xlarge-size: $spacing-20,
  paragraph-xlarge-line-height: $spacing-32,
  paragraph-large-font: $body,
  paragraph-large-weight: $weight-regular,
  paragraph-large-line-height: $spacing-28,
  paragraph-medium-font: $body,
  paragraph-medium-weight: $weight-regular,
  paragraph-medium-size: $spacing-16,
  paragraph-small-size: $spacing-14,
  paragraph-medium-line-height: $spacing-24,
  paragraph-small-font: $body,
  paragraph-small-weight: $weight-regular,
  // paragraph-small-size: $spacing-14,
  paragraph-small-line-height: $spacing-20,
  paragraph-xsmall-font: $body,
  paragraph-xsmall-weight: $weight-regular,
  paragraph-xsmall-size: $spacing-12,
  paragraph-xsmall-line-height: $spacing-16,
  text-link-xlarge-font: $body,
  text-link-xlarge-weight: $weight-regular,
  text-link-xlarge-size: $spacing-20,
  text-link-xlarge-line-height: $spacing-32,
  text-link-large-font: $body,
  text-link-large-weight: $weight-regular,
  text-link-large-line-height: $spacing-28,
  text-link-medium-font: $body,
  text-link-medium-weight: $weight-regular,
  text-link-medium-size: $spacing-16,
  text-link-medium-line-height: $spacing-24,
  text-link-small-font: $body,
  text-link-small-weight: $weight-regular,
  text-link-small-size: $spacing-14,
  text-link-small-line-height: $spacing-20,
  text-link-xsmall-font: $body,
  text-link-xsmall-weight: $weight-regular,
  text-link-xsmall-size: $spacing-12,
  text-link-xsmall-line-height: $spacing-16,
  disclaimer-xsmall-font: $body,
  disclaimer-xsmall-weight: $weight-regular,
  disclaimer-xsmall-size: $spacing-12,
  disclaimer-xsmall-line-height: $spacing-16,
  body-xsmall-semibold-font: $body,
  body-xsmall-semibold-weight: $weight-semibold,
  body-xsmall-semibold-size: $spacing-12,
  body-xsmall-semibold-line-height: 14px,
  body-xsmall-medium-font: $body,
  body-xsmall-medium-weight: $weight-medium,
  body-xsmall-medium-size: $spacing-12,
  body-xsmall-medium-line-height: 14px,
  body-xsmall-regular-font: body,
  body-xsmall-regular-weight: $weight-regular,
  body-xsmall-regular-size: $spacing-12,
  body-xsmall-regular-line-height: 14px
);

// typescale-mobile end
